<div class="home__container">
    <div class="home">
        <h1 class="home__usersTitle">Список пользователей</h1>

        <ul class="home__usersList">
            <li class="home__listItem" *ngFor="let user of users.data">
                <a class="home__link" [routerLink]="['user', user.id]">{{ user.first_name }} {{ user.last_name}}</a>
                <button class="home__delete" (click)="deleteUser(user.id)">Delete</button>
            </li>
        </ul>
    </div>

    <div class="home">
        <h1 class="home__usersTitle">Список ресурсов</h1>

        <ul class="home__usersList">
            <li class="home__listItem" *ngFor="let resource of resources.data">{{ resource.name }}</li>
        </ul>
    </div>
</div>
