<div class="user">
    <form action="" class="user__form">
        <div class="user__block">
            <label for="" class="user__label">First Name</label>
            <input #firstName type="text" class="user__input"  required [(ngModel)]="userInfo.first_name" name="firstName">
        </div>

        <div class="user__block">
            <label for="" class="user__label">Last Name</label>
            <input #lastName type="text" class="user__input" [(ngModel)]="userInfo.last_name" name="lastName">
        </div>

        <div class="user__block">
            <label for="" class="user__label">Email</label>
            <input #email type="text" class="user__input" [(ngModel)]="userInfo.email" name="email">
        </div>

        <button class="user__btn" type="submit" (click)="editUser({firstName: firstName.value, lastName: lastName.value, email: email.value })">Edit</button>
    </form>
</div>